body {
  font-family: $font-std;
  background-color: #fffcdb;
  background-image: url("http://www.transparenttextures.com/patterns/tileable-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
  /*background: $primary;*/
  height: 110px;
  margin: 0;
  
  .inner {
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    
    .logo {
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 5%;
      margin-left: 5%;
      width: 30%;
      height: 30%;
    }
    
    .menu {
      display: none;
      width: 40px;
      position: absolute;
      right: 5%;
      top: 28px;
    }
    
    ul {

      li:hover {
        color: #fff;
      }
      
      li {
        display: inline-block;
        float: right;
        margin-right: 5%;
        margin-top: 40px;
      } 
    }
  }
}

main {
  max-width: $max-width;
  margin: 2.5% auto;
  
  .banner {
    max-width: 100%;
  }
  
  .sub-banners {
    
    li {
      list-style-type: none;
      float: right;
      width: 30%;
      margin-right: 2.5%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      
      img {
        max-width: 100%; 
      }

      img:hover {
      	opacity: 0.6;
        transition-duration: .4s
      }
    }
  }
}

a {
  text-decoration: none;
}

footer {
  clear: both;
  height: 150px;
  background: $secondary;
}

@media (max-width: 768px) {
  header {
    height: 80px;
  }
  header .inner .logo {
    text-align: center;
    width: 30%;
  }
  .inner {
    ul {
      display: none;
    }
    img.menu {
      display: block;
    }
  }
  
  main {
    margin-left: 2.5%;
    margin-right: 2.5%;
    
    ul.sub-banners {
      li {
        width: 100%;
        margin: 0;
        img {
          width: 100%;
        }
      }
    } 
  }

@media (max-width: 634px) {
  header .inner .logo {
    text-align: center;
    width: 35%;
  }
}
@media (max-width: 419px) {
  header .inner .logo {
    text-align: center;
    width: 50%;
  }
}}
section {
	border: 0;
	margin: 0;
}
form {
    /* Just to center the form on the page */
    width: 100%;
    /* To see the outline of the form */
    padding: 1em;
}

form textarea {
	width: 510px;
	margin: 0;
}

form input {
	border: 2px solid transparent;
	box-shadow: .2em 0 0.4em black;
}
