/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: helvetica;
  background-color: #fffcdb;
  background-image: url("http://www.transparenttextures.com/patterns/tileable-wood.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ }

header {
  /*background: $primary;*/
  height: 110px;
  margin: 0; }
  header .inner {
    max-width: 1020px;
    margin: 0 auto;
    position: relative; }
    header .inner .logo {
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 5%;
      margin-left: 5%;
      width: 30%;
      height: 30%; }
    header .inner .menu {
      display: none;
      width: 40px;
      position: absolute;
      right: 5%;
      top: 28px; }
    header .inner ul li:hover {
      color: #a8a8a8; }
    header .inner ul li {
      display: inline-block;
      float: right;
      margin-right: 5%;
      margin-top: 40px; }

main {
  max-width: 1020px;
  margin: 2.5% auto; }
  main .banner {
    max-width: 100%; }
  main .sub-banners li {
    list-style-type: none;
    float: right;
    width: 30%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%; }
    main .sub-banners li img {
      max-width: 100%; }
    main .sub-banners li img:hover {
      opacity: 0.6;
      transition-duration: 0.4s; }

a {
  color: inherit; }

footer {
  clear: both;
  height: 150px;
  background-color: rgba(200, 200, 200, 0.4); }

@media (max-width: 768px) {
  header {
    height: 80px; }

  header .inner .logo {
    text-align: center;
    width: 30%; }

  .inner ul {
    display: none; }
  .inner img.menu {
    display: block; }

  main {
    margin-left: 2.5%;
    margin-right: 2.5%; }
    main ul.sub-banners li {
      width: 100%;
      margin: 0; }
      main ul.sub-banners li img {
        width: 100%; } }
@media (max-width: 768px) and (max-width: 634px) {
  header .inner .logo {
    text-align: center;
    width: 35%; } }
@media (max-width: 768px) and (max-width: 419px) {
  header .inner .logo {
    text-align: center;
    width: 50%; } }
section {
  border: 0;
  margin: 0; }

form {
  /* Just to center the form on the page */
  width: 100%;
  /* To see the outline of the form */
  padding: 1em; }

form textarea {
  width: 510px;
  margin: 0; }

form input {
  border: 2px solid transparent;
  box-shadow: .2em 0 0.4em black; }

/*# sourceMappingURL=application.css.map */
